body {
    background-color: darkblue;
    color: skyblue
    
    }

#me{ 
    width:300px;height:500px;
    }

h1 {
    text-decoration: underline;
    text-decoration-style: wavy;
    text-align-last: center
    padding:50px;
     border-style: dotted;
    border-color: black;
    border-radius:20x;
}

p{ 
    font-variant: small-caps
    font-weight:bold;
}

